/* responsive styles here */
@media screen and (max-width: 576px) {
    .hide {
        display: none;
    }
    .logo-container .logo-img {
        height: 1.5rem;
    }
    .nav-items-container,
    .nav-links>ul {
        flex-direction: column;
        margin-top: 2rem;
    }

    .banner {
        background-image: none;
    }

    .banner-items {
        flex-direction: column-reverse;
        margin-top: 2rem;
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
    .banner-info .section-title,
    .banner-info .banner-section-title {
        text-align: center;
    }

    .gamer-items {
        grid-template-columns: 1fr;
        width: 85%;
    }
    .gamer-img img {
        width: 100%;
    }
    .gamer-info {
        text-align: center;
    }

    .online-games-items {
        width: 85%;
    }
    .online-img-cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .online-img-cards .img-card {
        margin-bottom: 2rem;
        width: 100%;
    }
}