/* Work Sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles here */
:root {
    --color-primary: #F948B2;
    --color-secondary: #8758F1;
    --color-info: #4EC5F7;
}

* {
    box-sizing: border-box;
}

body,
h1,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.text-gradient-bg {
    background: linear-gradient(180deg, var(--color-primary), var(--color-secondary));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.w-50 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.w-100 {
    width: 100%;
}

.btn {
    padding: 20px 40px;
    border-radius: 48px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
}

.btn-primary {
    color: #FFF;
    background-color: var(--color-primary);
}

.btn-info {
    color: #FFF;
    background-color: var(--color-info);
}

.btn-primary-reverse {
    color: var(--color-primary);
    background-color: #FFF;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.section-description {
    color: #534C64;
    line-height: 30px;
}

/* header styles here */

/* nav styles here */
.nav-items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-container > .logo-img {
    height: 40px;
    object-fit: cover;
}

.nav-links>ul {
    color: #3C354F;
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links>ul>li {
    list-style: none;
}

.nav-links>ul>li>a {
    text-decoration: none;
}

.nav-links .follow-us {
    padding: 1rem 1.25rem;
    border-radius: 8px;
    background-color: #0b02231a;
}

/* banner styles here */
.banner {
    background-image: url('../images/banner-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}
.banner-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 65px;
    align-items: center;
}

.banner-info>.section-title {
    color: #0B0223;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-section-title {
    font-size: 5.5rem;
}

.banner-icon {
    color: var(--color-primary);
}

.banner-btn {
    display: flex;
    column-gap: 10px;
}

.banner-img {
    display: flex;
    align-items: flex-end;
}

/* we are gamer section styles here */
.gamer {
    background-color: rgba(255, 66, 165, 0.03);
}
.gamer-items {
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
    display: grid;
    grid-template-columns: 7fr 5fr;
    column-gap: 3.25rem;
    align-items: center;
}

.gamer-info {
    text-align: right;
}

.gamer-info > .section-description {
    margin-top: 1.5rem;
}

.gamer-info > button {
    margin-top: 1rem;
}

.gamer-moto {
    margin-top: 1.5rem;
}

.gamer-moto > .moto {
    font-size: 1.75rem;
}